<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Ingresa la informacion de tu pet.</h1>
    <form action="/pets" method="post">
      <p>Digita el nombre</p>
      <input type="text" name="name">
      <p>Digita la raza</p>
      <input type="text" name="raza">
      <p>Digita la edad </p>
      <input type="text" name="edad">
      <p>Pon la URL de la tu mascota</p>
      <input type="text" name="foto">
      <br>
      <button type="submit" name="button"> ¡Crea!</button>
    </form>
    <br>
    <a href="/pets"><button type="button">Regresar</button></a>

  </body>
</html>
